@use '../../../common/util/mixins';
@import '../../../common/util/variables';

.project-item {
   &__video{
       margin: 5%;
   } 
   em a {
       color: $color-primary-1;

       &:hover,
       &:active {
           color: lighten($color: $color-primary-1, $amount: 10%)
       }
   }
   &__details {
       margin: 5%;
   }
}